*{
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-weight: 100;
  background-color: lightgrey;
}

.keyboard {
  width: 960px;
  height: 360px;
  margin: 50px auto;
  padding: 0.5em;
  background-color: gray;
  color: white;
  border-radius: 1em;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.row {
  width: 100%;
  height: 17%;
  display: flex;
  justify-content: space-between;
}

.keyboard > div:first-child {
  height: 12%;
}

.key {
  width: 6%;
  height: 90%;
  border-radius: 0.4em;
  padding: 0.1em;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.esc {
  justify-content: center;
  align-items: flex-start;
}

.touch-bar {
  width: 88%;
}

.touch-id {
  width: 4%;
}

.right {
  align-items: flex-end;
  justify-content: flex-end;
}

.left {
  align-items: flex-start;
  justify-content: flex-end;
}

.delete, .tab {
  width: 9%;
}

.caps-lock, .return {
  width: 11%;
}

.shift {
  width: 14%;
}

.command {
  width: 7.5%;
}

.space {
  width: 34%;
}

.arrows {
  background-color: gray;
  width: 20%;
}

.arrows > div {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: space-between;
}

.arrows p {
  width: 31%;
  height: 90%;
  background-color: black;
  border-radius: 0.3em;
  text-align: center;
  padding: 0;
}

.arrows > div:first-child {
  justify-content: center;
}

.modifier > p:first-child {
  align-self: flex-end;
  padding-right: 0.2em;
}

.rhs > p:first-child {
  align-self: flex-start;
  padding-left: 0.2em;
}

.row > div:hover {
  text-shadow: 0 0 0.05em white;
}